---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProjectsList from '../components/ProjectsList.astro';
import ArticlesList from '../components/ArticlesList.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <ProjectsList />
    <ArticlesList limit={3} variant="raised" />
  </main>
  <Footer />
</BaseLayout>


